@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

.app {
  text-align: center;
}

input {
  padding: 4px;
  margin-right: 8px;
}


ul {
  /* Remove bullet point  */
  list-style: none;
}

li {
  margin: 12px 0;
}

.delete-button {
  font-size: 10px;
  margin-left: 8px;

  border: none;
  color: white;
  border-radius: 4px;

  padding-top: 4px;
  padding-bottom: 4px;
}

.app h1{
  font-weight: 600;
}

input {
  outline: none;
  background: none;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

input::placeholder{
  font-size: 14px;
  color: white;
  font-weight: 400;
}

button{
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}